.historial {
    border: 1px solid #7DA5E0;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    }
    
    .pregunta {
    color: #7DA5E0;
    }
    
    .respuestas {
    color: #000000;
    }
    h1 {
        color: blue;
        font-weight: normal;
        font-size: 40px;
        font-family: Arial;
        text-transform: uppercase;
      }
      h2 {
        color: #3c1b66;
        font-weight: normal;
        font-size: 20px;
        font-family: Arial;
        text-transform: uppercase;
      }