.pregresp {
border: 1px solid #7DA5E0;
padding: 10px;
margin: 10px;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
}

.pregunta {
color: blue;
}

.respuestas {
color: #000000;
}
label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}
select{
	width:20%;
	padding:8px 16px;
	margin-top:12px;
	margin-block-end: 12PX;
	border:1px solid white;
	border-radius:5px;
	display:inline;
	color:#fff;
	background-color:blue;

}
div{
	border-color: navy;
   border-width: 2px;
   border-style: solid;
}
form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:blue;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
}